@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<ul class="navbar-nav flex-grow-1">
    @if (User.IsInRole("User"))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Accounts" asp-action="Index">
                <i class="fas fa-wallet"></i>
                Accounts

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Payments" asp-action="Index">
                <i class="fas fa-file-invoice-dollar"></i>
                Payments
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Cards" asp-action="Index">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                Cards
            </a>
        </li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Loans" asp-action="Index">
                <i class="fas fa-landmark" aria-hidden="true"></i>
                Loans
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Requests" asp-action="Index">
                <i class="fas fa-grin-stars" aria-hidden="true"></i>
                Requests
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Index">
                <i class="fas fa-users" aria-hidden="true"></i>
                Customers
            </a>
        </li>
    }

    
</ul>

