@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Accounts" asp-action="Index">
                <i class="fas fa-wallet"></i>
                Accounts

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Payments" asp-action="Index">
                <i class="fas fa-file-invoice-dollar"></i>
                Payments
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Received" asp-action="Index">
                <i class="fas fa-dollar-sign"></i>
                Received

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Cards" asp-action="Index">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                Cards
            </a>
        </li>

        
    </ul>
}
