@model BankingProject.ApplicationLogic.Model.Request




<form>
    <div class="form-group">
        <label for="Sum">Input sum</label>
        <input type="text" class="form-control" id="Sum" placeholder="Input sum">
    </div> 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>